:root {
    --sec-bg-color: #0e2c34;
    --main-bg-color: #668251;
    --sec-white-bg-color: #ffffff;
    --sec-light-bg-color: rgb(181, 228, 145);
    --sec-grey-color: #f8f9f7;
    --dark-green-text-color: #0e2c34;
    --dark-black-text-color: black;
    --white-text-color: #fff;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    margin: 40px 0;
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0% 8%;
}

.container {
    /* width: 984px; */
    width: 1020px;
    margin: 0 auto;
    padding: 0px;
}

.no-padding {
    padding: 0 !important;
}

::-moz-selection {
    color: #000;
    text-shadow: none;
    background: #f1b5b5;
}

::selection {
    color: #000;
    text-shadow: none;
    background: var(--sec-light-bg-color);
}

.f-f-times {
    font-family: "Times New Roman", Times, serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.top-head-info {
    align-items: center;
}

.top-head {
    padding: 8px 0px;
    background-color: #000d16;
    border-bottom: 1px solid #fff1b9;
}

.head-logo img {
    width: 110px;
    height: 120px;
    object-fit: contain;
    margin-right: 10px;
}

.head-center {
    width: 63%;
}

.head-right {
    width: 27%;
}

.head-center h2 {
    margin: 0px 0px 0px 0px;
    line-height: 26px;
    color: #fff;
}

.head-center h2 .small-text {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#fff1b9, #c79405);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.head-center h2 .big-text {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .5px;
    background: -webkit-linear-gradient(#fff1b9, #c79405);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.head-center h4 {
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    background: -webkit-linear-gradient(#fff1b9, #c79405);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.head-right .isn-nob {
    font-size: 23px;
    font-weight: 800;
    color: #fff;
}

.head-right .issn-nob {
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    background: -webkit-linear-gradient(#fff1b9, #c79405);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



header {
    background: -webkit-linear-gradient(#014e5c, #338ecf);
}


.mynavbar {
    margin: 0 auto;
    position: relative;
}

.mynavbar.navbar {
    padding: 0px;
}

.mynavbar .navbar-nav .nav-link {
    font-size: 14px;
    color: #fff;
    padding: 10px 18px !important;
}

.mynavbar .navbar-nav .nav-link.active {
    background-color: #143e49;
}


.mynavbar .dropdown-menu[data-bs-popper] {
    top: 93%;
}

.mynavbar .dropdown-menu {
    border-radius: 0px;
    padding: 0px;
    background: var(--sec-white-bg-color)
}

.mynavbar .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #000000;
    padding: .50rem 1rem;
    border-bottom: 1px solid var(--sec-grey-color);
}

.mynavbar .dropdown-menu .dropdown-item:hover,
.mynavbar .dropdown-menu .dropdown-item:active,
.mynavbar .dropdown-menu .dropdown-item:focus {
    background: var(--sec-grey-color);
    color: #000;
}

.mynavbar .dropdown-menu[data-bs-popper] {
    width: 100%;
}

.text-content ul {
    padding-left: 30px;
    margin: 10px 0px;
}

footer {
    display: flex;
    padding: 20px 0px;
    background-color: #338ecf;
    width: 100%;
}

.foot-sec {
    justify-content: space-between;
    gap: 10px;
}

.designedby,
.counters,
.social-media {
    width: 33.33%;
    display: flex;
}

.designedby {
    color: #fff;
    align-items: center;
    font-size: 15px;
}

.designedby a {
    font-weight: bold;
    color: #b8fd00;
    text-decoration: none;
    padding: 0px 6px;
    font-size: 15px;
}

.counters {
    justify-content: center;
}

.social-media {
    justify-content: end;
}

.def-content-area {
    padding: 30px 0px 50px 0px;
    background: linear-gradient(to bottom, #ffffff, #cee2ce, #668251);
}

.def-content-area-all {
    padding: 50px 0px;
}

.wel-text,
.wel-img-bg {
    width: 50%;
}

.wel-text {
    padding: 40px 60px;
    background-color: var(--sec-bg-color);
}

.wel-text h1 {
    margin: 0px 0px 25px 0px;
    line-height: 43px;
    color: var(--white-text-color);
    font-size: 32px;
}

.wel-text h4 {
    margin: 0px 0px 25px 0px;
    line-height: 24px;
    color: var(--white-text-color);
    font-size: 17px;
}

.wel-text p {
    font-size: 15px;
    color: #eaff00;
}

.wel-text .btn {
    background-color: #eaff00;
    color: var(--dark-green-text-color);
    font-weight: bold;
    border-color: #eaff00;
}

.wel-img-bg img {
    width: 100%;
    height: 336px;
}

.wel-detail-text {
    padding-top: 20px;
    font-size: 15px;
    font-weight: normal;
}

.sec-bg-grey {
    background-color: var(--sec-grey-color);
}

.sec-tittle {
    text-align: center;
    margin-bottom: 28px;
}

.sec-tittle h3 {
    font-size: 28px;
    color: var(--dark-black-text-color);
    border-bottom: 4px solid var(--main-bg-color);
    display: inline;
    padding-bottom: 10px;
    position: relative;
}

.sec-tittle h3::after {
    content: ' ';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 3px solid var(--main-bg-color);
    bottom: -11px;
    border-radius: 50%;
    left: 49%;
}

.ben-list {
    padding-top: 30px;
    display: flex;
}


.announ-sec {
    width: 40%;
    padding: 0px 30px;
}

.announcement {
    border: 1px solid #0f5721;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;
}

.ann-tittle {
    text-align: center;
    font-size: 20px;
    padding: 12px;
    background: linear-gradient(106deg, rgba(15, 87, 33, 1) 0%, rgba(61, 145, 98, 1) 46%, rgba(67, 86, 204, 1) 100%);
    border-bottom: 1px solid #0f5721;
    color: #fff;
}

.ann-news-sec {
    padding: 20px;
}

.ann-news-sec ul {
    width: 100% !important;
}

.ann-news-sec ul li {
    width: 100% !important;
}


.ben-list ul {
    margin-top: 0px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/*.ben-list ul li{
    width: 100%;
    list-style: none;
    position: relative;
    display: inline-block;
    font-size: 16px;
    padding:0px 35px;
    margin-bottom: 20px;
    vertical-align: top;
}*/

.ben-list ul li {
    flex: 1 1 calc(27% - 20px);
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    vertical-align: top;
    box-sizing: border-box;
    /* Includes padding and border in the element's total width and height */
    display: flex;
    /* Makes li elements flex containers themselves for content alignment */
    justify-content: center;
    /* Centers content horizontally within each li */
    align-items: center;
    /* Centers content vertically within each li */
    background-color: rgb(255, 255, 255);
    /* For visual demonstration */
    border-radius: 4px;
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #ddd;
}

.ben-list ul li:hover {
    background-color: #ddd;
}

.ben-list .ann-news-sec ul {
    width: 100%;
}

.ben-list .announ-sec .ann-news-sec marquee ul.timeline li {
    width: 100% !important;
    border: none;
    flex: 1 1 calc(100%);
    justify-content: flex-start;
    text-align: left;
    padding: 10px;
}

.ben-text img {
    width: 60px;
    margin-bottom: 10px;
}



.ben-text {
    display: inline-block;
    width: 85%;
    font-size: 13px;
    padding: 10px;
}


.more-info {
    padding-top: 30px;
    padding-bottom: 25px;
}

.more-info .card-group {
    gap: 15px;
}

.more-info .card {
    border: 0px;
}

.more-info .card-body {
    border: 1px solid #ddd;
}

.more-info .card-body p {
    font-size: 14px;
}

.more-info .card-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.more-info .card-body a,
.more-info .card-body button {
    width: 100%;
    background-color: #ddd;
    color: #000;
    text-align: center;
    border-radius: 0px;
    padding: 10px 12px;
    font-size: 14px;
    border-color: #ddd;
}

.more-info .carousel-indicators [data-bs-target] {
    background-color: #838383;
}

.more-info .carousel-indicators {
    margin-bottom: -3rem;
}

.cover-area {
    padding-top: 30px;
}

.cover-area .c-areas .c-tittle-area {
    display: inline-block;
    padding: 8px 20px;
    font-size: 15px;
    background-color: var(--sec-bg-color);
    color: var(--white-text-color);
}

.cover-area .nav-item {
    width: 33.33%;
}

.cover-area {
    padding-bottom: 20px;
}

.cover-area .nav-item .nav-link {
    width: 100%;
    color: var(--dark-black-text-color);
    padding: 1rem;
    font-size: 14px;
}

.cover-area .nav-tabs {
    background-color: #fff;
}

.cover-area .nav-item .nav-link.active {
    background-color: var(--sec-bg-color);
    color: var(--white-text-color);
    border: none;
}

.c-diff-area {
    padding: 20px 20px 15px 20px;
    background-color: var(--sec-white-bg-color);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 0px;
}

.c-diff-area ul {
    margin-top: 0px;
}

.c-diff-area ul li {
    display: inline-block;
    width: 24.5%;
    padding: 0px 5px 0px 20px;
    position: relative;
    font-size: 14px;
    margin-bottom: 6px;
}

.c-diff-area ul li::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--sec-bg-color);
    position: absolute;
    left: 0px;
    top: 5px
}

.callaction-bg {
    background-image: url("../images/bg/callaction-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.callaction-list {
    align-items: center;
    align-self: start;
    justify-content: space-between;
    gap: 20px;
}

.callaction-list .action-item {
    padding: 15px;
    background-color: var(--sec-bg-color);
    flex: 1;
    height: 205px;
}

.callaction-list .action-item .tittle {
    text-align: center;
    color: var(--white-text-color);
    border-bottom: 2px solid var(--white-text-color);
    padding-bottom: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.crad-cont {
    align-items: center;
    align-self: start;
    justify-content: space-between;
    gap: 10px;
}

.crad-cont img {
    width: 56px;
    height: 58px;
    margin-right: 10px;
    display: flex;
    align-self: flex-start;
    margin-top: 14px;
}

.crad-cont .text-cont {
    width: 80%;
    padding: 10px;
    color: #fff;
}

.crad-cont .text-cont p {
    font-size: 16px;
}

.crad-cont .text-cont ul {
    margin: 0px;
}

.crad-cont .text-cont ul li {
    list-style: disc;
    font-size: 16px;
    margin-left: 16px;
}

.crad-cont .text-cont ul li a {
    font-size: 16px;
    color: var(--white-text-color)
}

.crad-cont .text-cont .btn {
    background-color: var(--sec-white-bg-color);
    border: var(--white-text-color);
    color: var(--dark-black-text-color);
}

.sitename {
    display: block;
    width: 100%;
}

.sitename h1 {
    margin: 0px 0px 20px 0px;
}

.wel-sec-text {
    gap: 20px;
}

.wel-sec-text .wel-sec-img {
    width: 15%;
}

.wel-sec-text .wel-sec-img img {
    width: 100%;
    height: 225px;
    border-radius: 6px;
}

.wel-sec-text .wel-sec-text {
    width: 85%;
    background-color: white;
    padding: 15px;
    font-size: 13px;
    border-radius: 6px;
    text-align: justify;
}

.side-logo-sec {
    position: fixed;
    left: 13px;
    width: 80px;
    top: 29%;
}

.side-logo-sec img {
    width: 78px;
    background: #fff;

}

.side-logo-sec .s-name {
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.side-logo-sec .s-name h3 {
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    margin-top: 0px;
}

.cover__area {
    background-color: #eefffb;
    border-bottom: 6px solid #025741;
    border-radius: 10px;
    padding-top: 15px;
}

.cover__area h3 {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: #338ecf;
    border-bottom: 1px solid #338ecf;
    padding-bottom: 10px;
    margin-bottom: 6px;
}

.cover__area ul li {
    padding: 3px 20px;
    font-size: 15px;
}

.icon-box {
    width: 100%;
    margin-bottom: 11px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 10px;
}

.icon-box img {
    text-align: center;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto 5px auto;
}

.icon-box a {
    color: #46998f;
    display: block;
    padding: 6px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 14px;
}

.head-right .emailidcls {
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    background: -webkit-linear-gradient(#fff1b9, #c79405);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.index_bg {
    display: block;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    border: 1px solid #f5f5f7;
    padding: 8px 15px;
    margin-bottom: 25px;
}

.index_bg img {
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

.index_bg .img-responsive {
    display: block;
    max-width: 100%;
}